

<div class="bg-white container1">
  <div class="container">
    <div class="row div3">
      <div class="col-2 col-md-2 d3 p-4">
        <button
          type="button"
          class="btn dropdown-toggle float-left w-15 SC2 rounded-3"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          pButton [pTooltip]="tooltipContent" tooltipPosition="bottom"

        >
          سنويا
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">شهريا</a>
          <a class="dropdown-item" href="#">يوميا</a>
        </div>
      </div>
      <div class="col-10 col-md-10 p-4">
        <p dir="rtl" class="fw-medium fz">إحصائيات إستخدام القسيمة</p>
        <p dir="rtl" class="SC fs-6 dropdown-toggle fz">
          05 يوليو , 2023 - 05 أغسطس , 2023
          <!-- <i class="fa-solid fa-angle-down"></i> -->
        </p>
      </div>

    </div>
    <div dir="rtl" echarts [options]="chart" class="LineGradient"></div>
  </div>


</div>

